{% extends 'base.html' %}
{% load static %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block breadcrumb %}
    <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">Сброс пароля</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'products:index' %}">Главная</a></li>
                        <li class="current"><span>Сброс пароля</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-sm--50">
                        <div class="login-box">
                            <h3 class="heading__tertiary mb--30">Письмо с инструкцией направлено на эл.почту</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
