{% load tags %}

<div class="row mb--77 mb-md--57">
    <div class="col-12">
        <div class="element-carousel slick-vertical-center" data-slick-options='{
                                            "spaceBetween": 30,
                                            "slidesToShow": 4,
                                            "slidesToScroll": 1,
                                            "arrows": true,
                                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "la la-angle-double-left" },
                                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "la la-angle-double-right" }
                                        }' data-slick-responsive='[
                                            {"breakpoint":1199, "settings": {
                                                "slidesToShow": 3
                                            }},
                                            {"breakpoint":991, "settings": {
                                                "slidesToShow": 2
                                            }},
                                            {"breakpoint":575, "settings": {
                                                "slidesToShow": 1
                                            }}
                                        ]'>
            {% for top_product in top_products %}
                <div class="item">
                    <div class="payne-product">
                        <div class="product__inner">
                            <div class="product__image">
                                <figure class="product__image--holder">
                                    <a href="{% url 'products:detail' pk=top_product.id %}" class="product-overlay">
                                        <img src="{{ top_product.images.all.0.image.url }}" alt="Product">
                                    </a>
                                </figure>
                                <a href="{% url 'products:detail' pk=top_product.id %}"
                                   class="product-overlay"></a>
                                <div class="product__action">
                                    <a href="{% url 'likes:add_like' pk=top_product.id %}" class="action-btn">
                                        <i class="fa fa-heart-o"></i>
                                        <span class="sr-only">Add to wishlist</span>
                                    </a>
                                    <a href="{% url 'carts:add_cart' pk=product.id %}" class="action-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="sr-only">Add To Cart</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--left">
                                    <h3 class="product__title">
                                        <a href="{% url 'products:detail' pk=top_product.id %}">{{ top_product.name }}</a>
                                    </h3>
                                    <div class="product__price">
                                        <span class="money">{{ top_product.price }}</span>
                                        <span class="sign">р</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info--right">
                                {% for i in top_product.arefmetical_averages_review|range_templates %}
                                    <span><i class="fa fa-star"></i></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>