{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load product_tag %}


{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumb %}
    <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">Каталог магазина</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'products:index' %}">Главная</a></li>
                        <li class="current"><span>Каталог</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="main-content-wrapper">
        <div class="shop-page-wrapper ptb--80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                        <div class="shop-toolbar mb--50">
                            <div class="row align-items-center">
                                <div class="col-md-5 mb-sm--30 mb-xs--10">
                                    <div class="shop-toolbar__left">
                                        <div class="product-ordering">
                                            <select class="product-ordering__select nice-select" name="sort"
                                                    onChange="window.location.href=this.value">
                                                {% for sort in sorts %}
                                                    <option value="{% url 'products:catalog' %}?{{ get_params }}sort={{ sort.1 }}">
                                                        {{ sort.0 }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="shop-toolbar__right">
                                        <p class="product-pages">
                                            Показано {{ page_obj.start_index }}-{{ page_obj.end_index }}
                                            из {{ paginator.count }}</p>
                                        <div class="product-view-mode ml--50 ml-xs--0">
                                            <a class="active" href="#" data-target="grid">
                                                <img src="{% static 'assets/img/icons/grid.png' %}" alt="Grid">
                                            </a>
                                            <a href="#" data-target="list">
                                                <img src="{% static 'assets/img/icons/list.png' %}" alt="Grid">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-products">
                            <div class="row">
                                {% for product in product_list %}
                                    <div class="col-xl-4 col-sm-6 mb--50">
                                        <div class="payne-product">
                                            <div class="product__inner">
                                                <div class="product__image">
                                                    <figure class="product__image--holder">
                                                        <img src="{{ product.images.all.0.image.url }}" alt="Product">
                                                    </figure>
                                                    <a href="{% url 'products:detail' pk=product.id %}"
                                                       class="product__overlay"></a>
                                                    <div class="product__action">
                                                        <a href="{% url 'likes:add_like' pk=product.id %}"
                                                           class="action-btn">
                                                            <i class="fa fa-heart-o"></i>
                                                            <span class="sr-only">Add to wishlist</span>
                                                        </a>
                                                        <a href="{% url 'carts:add_cart' pk=product.id %}"
                                                           class="action-btn">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="sr-only">Add To Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product__info">
                                                    <div class="product__info--left">
                                                        <h3 class="product__title">
                                                            <a href="{% url 'products:detail' pk=product.id %}">{{ product.name }}</a>
                                                        </h3>
                                                        <div class="product__price">
                                                            <span class="money">{{ product.price }}</span>
                                                            <span class="sign">р</span>
                                                        </div>
                                                    </div>
                                                    <div class="product__info--right">
                                                        {% for i in product.arefmetical_averages_review|range_templates %}
                                                            <span><i class="fa fa-star"></i></span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="payne-product-list">
                                            <div class="product__inner">
                                                <figure class="product__image">
                                                    <a href="{% url 'products:detail' pk=product.id %}" class="d-block">
                                                        <img src="{{ product.images.all.0.image.url }}"
                                                             alt="Products">
                                                    </a>
                                                </figure>
                                                <div class="product__info">
                                                    <h3 class="product__title">
                                                        <a href="{% url 'products:detail' pk=product.id %}">{{ product.name }}</a>
                                                    </h3>
                                                    <div class="product__price">
                                                        <span class="money">{{ product.price }}</span>
                                                        <span class="sign">р</span>
                                                    </div>
                                                    <span class="product__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <p class="product__short-description">
                                                        {{ product.description }}
                                                    </p>
                                                    <div class="d-flex product__list-action">
                                                        <a href="{% url 'carts:add_cart' pk=product.id %}"
                                                           class="btn btn-size-sm">В корзину</a>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% include 'pagination.html' %}
                    </div>
                    <div class="col-xl-3 col-lg-4 order-lg-1">
                        <aside class="shop-sidebar">
                            <div class="shop-widget mb--40">
                                <h3 class="widget-title mb--25">Категории</h3>
                                <ul class="widget-list category-list">
                                    {% get_categories as categories %}
                                    {% for category in categories %}
                                        <li>
                                            <a href="?category={{ category.id }}">
                                                <span class="category-title">{{ category.name }}</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="shop-widget mb--40">
                                <h3 class="widget-title mb--30">Цвет</h3>
                                <div class="widget-color">
                                    {% get_colors as colors %}
                                    {% for color in colors %}
                                        <a href="?color={{ color.id }}"
                                           style="background-color: {{ color.hex_color }}">{{ color.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="shop-widget mb--40">
                                <h3 class="widget-title mb--25">Цена</h3>
                                <ul class="widget-list price-list">
                                    <li>
                                        <a href="?price=1">
                                            <strong class="font-weight-medium">до 1000 р</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?price=2">
                                            <strong class="font-weight-medium">1000 - 3000 р</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?price=3">
                                            <strong class="font-weight-medium">более 3000 р</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="shop-widget mb--40">
                                <h3 class="widget-title mb--25">Бренд</h3>
                                <ul class="widget-list brand-list">
                                    {% for brand in brands %}
                                        <li>
                                            <a href="?brand={{ brand.brand_id }}">
                                                <span>{{ brand.brand__name }}</span>
                                                <strong class="color--red font-weight-medium">{{ brand.total }}</strong>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


